.container {
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    max-width:1024px ;
}

.container img {
    width: 60px;
}

.alert {
    font-size: 30px;
    text-align: center;
    margin: 50px 20px;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
}

.coinDetails{
    flex: 1 2 0;
}

.chartContainer{
    flex: 2 1 0;
}

.logo{
    display: flex;
    align-items: center;
    gap: 6px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 1024px) {
    .container {
        margin: 16px;
    }
}