.alert {
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
}

.coinsHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.coinsContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    flex: 1 1 0;
}