.alert{
    font-size: 30px;
    text-align: center;
    margin: 50px auto;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
}

.container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
}