.container {
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: center;
}

.alert{
    display: flex;
    background-color: white;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 0px 5px rgb(71, 71, 71);
    transition: all .3s;
}

.coinsHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.coinsContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.item {
    flex: 1 1 0;
}