.container {
    margin: 10px auto;
    display: flex;
    padding: 10px 15px;
    background-color: white;
    border-radius: 5px;
    user-select: none;
}

.container h2 {
    margin: 0px 5px;
    color: white;
    background-color: rgb(41, 63, 255);
    border-radius: 3px;
    padding: 0px 10px;
}

.container button {
    padding: 0 10px;
    border: none;
    background-color: rgb(209, 222, 235);
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}