.coinContainer {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    align-items: center;
    padding: 14px 16px 12px;
    overflow: hidden;
    transition: all .3s;
    font-size: 9px;
    gap: 8px;
    margin-top: 1px;
}

.coinContainer:hover {
    background-color: rgb(227, 227, 255);
}

.coinContainer:active {
    box-shadow: inset 0px 0px 3px rgb(112, 112, 112);
}

.coinContainer img {
    width: 20px;
    height: 20px;
    border-radius: 20%;
}

.price {
    flex: 1 1 0;
}

.coinName {
    flex: 1.2 1 0;
}

.coinName h1 {
    font-size: 22px;
    font-weight: 500;
    margin-top: 4px;
}

.coinLogos {
    display: flex;
    align-items: center;
    gap: 3px;
}

.symbol {
    color: rgb(82, 82, 82);
    font-size: 11px;
}

a {
    text-decoration: none;
    color: black;
}

.percentage {
    display: flex;
    align-items: center;
    gap: 3px;
    border-radius: 20px;
    color: #ffffff;
    justify-content: center;
    width: 80px;
    font-weight: 500;
    font-size: 14px;
}

.green {
    background-color: rgb(0, 186, 0);
}

.red {
    background-color: rgb(255, 23, 23);
}

.triangleUp {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #ffffff;
}

.triangleDown {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid #ffffff;
}