.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.coinsHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.coinsContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgb(235, 235, 235);
    max-width: 1024px;
    padding-top: 1px;
}

.alert {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: rgb(255, 255, 255);
    max-width: 1024px;
    padding: 50px 0px;
    transition: all .3s;
    min-height: calc(100vh - 310px);
    border-top: 1px solid rgb(235, 235, 235);
}

.alert p {
    display: flex;
    align-items: center;
    gap: 2px;
}

@media (min-width: 768px) {
    .coinsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0px 0px 16px 16px;
    }

    .coinsContainer>a {
        flex: 1 40%;
    }

    .alert {
        border-radius: 0 0 16px 16px;
        padding: 16px;
        min-height: 200px;
        gap: 2px;
    }
}