.container {
    background-color: white;
    margin: auto;
    border-radius: 20px;
    padding: 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-around;
    max-width: 1024px;
    flex-direction: column;
    gap: 16px;
}

.container img {
    width: 60px;
}

.alert {
    font-size: 30px;
    text-align: center;
    margin: 50px 20px;
    background-color: white;
    border-radius: 30px;
    padding: 50px;
}

.header {
    display: flex;
    align-items: center;
    gap: 6px;
}

.symbol {
    color: gray;
    font-size: 20px;
}

.prices {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    gap: 10px;
    align-items: center;
    margin-top: 10px;
}

.toman {
    font-family: "Vazirmatn FD NL";
    direction: rtl;
}

.coinDetailsTable {
    width: 100%;
    font-size: 17px;
    font-weight: 500;
    border-collapse: collapse;
    margin-top: 12px;
}

.coinDetailsTable tr:first-child {
    font-weight: 600;
}

.coinDetailsTable td:nth-child(2) {
    text-align: right;
}

.coinDetailsTable tr {
    border-bottom: 1px solid gray;
}

.coinDetailsTable td {
    padding: 6px 0px;
}

.percentage {
    display: inline-flex;
    padding: 2px 10px;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    width: 90px;
}

.green {
    background-color: rgb(0, 186, 0);
}

.red {
    background-color: rgb(255, 23, 23);
}


.chartContainer {
    font-size: 12px;
}

.chartButtons {
    display: flex;
    gap: 5px;
}

.activeBtn{
    padding: 4px 8px;
    border: 1px solid rgba(95, 173, 255);
    background-color: rgba(95, 173, 255);
    border-radius: 20px;
    color: #ffffff;
}

.chartBtn{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(95, 173, 255);
    padding: 4px 8px;
    border-radius: 20px;
}

.chartBtn:hover{
    padding: 4px 8px;
    border: 1px solid rgba(95, 173, 255);
    background-color: rgba(95, 172, 255, 0.793);
    border-radius: 20px;
    color: #ffffff;
}

.chartLoading{
    width: 100%;
    height: 350px;
    border: 1px solid #404042;
}

/* 
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        gap: 16px;
    }
}

@media (max-width: 1024px) {
    .container {
        margin: 16px;
    }
} */