.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.coinsHeader {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
}

.coinsContainer {
    display: flex;
    flex-direction: column;
    gap: 1px;
    overflow: hidden;
    box-shadow: 0px 0px 3px rgb(93, 93, 93);
    background-color: rgb(235, 235, 235);
    max-width: 1024px;
    padding-top: 1px;
    min-height: 300px;
}

.alert {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 3px rgb(93, 93, 93);
    background-color: rgb(255, 255, 255);
    max-width: 1024px;
    padding: 30px 0px 500px;
}

.alert p {
    display: flex;
    align-items: center;
    gap: 2px;
}

.item {
    flex: 1 1 0;
}


@media (min-width: 768px) {
    .coinsContainer {
        flex-direction: row;
        flex-wrap: wrap;
        border-radius: 0px 0px 16px 16px;
        align-items: baseline;
    }

    .coinsContainer>a {
        flex: 1 40%;
    }

    .alert {
        background-color: white;
        border-radius: 0 0 16px 16px;
        padding: 16px;
        min-height: 200px;
        box-shadow: 0px 0px 3px rgb(71, 71, 71);
        transition: all .3s;
        gap: 2px;
        box-shadow: 0px 0px 3px rgb(93, 93, 93);
        background-color: rgb(255, 255, 255);
        border-top: 1px solid rgb(209, 209, 209);
    }
}