.container {
    display: flex;
    justify-content: center;
    padding: 24px 10px;
    background-color: white;
    user-select: none;
    border-top: 1px solid #E5E5E5;
    gap: 5px;
}

.pageNumber {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #E5E5E5;
    cursor: pointer;
    border-radius: 50%;
    color: #808080;
}

.pageNumber:active {
    color: white;
    box-shadow: inset 0px 0px 10px rgb(144, 144, 144);
    background-color: rgba(95, 173, 255)
}

.currentPage {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #4DA1FA;
    font-weight: 200;
    color: white;
    border-radius: 50%;
    border: 1px solid #E5E5E5;
}

.threeDots {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: #808080;
}

@media (min-width: 768px) {
    .container {
        margin: 20px auto;
        padding: 7px 10px;
        background-color: white;
        user-select: none;
        border-radius: 25px;
        display: flex;
        box-shadow: inset 0px 0px 2px rgb(112, 112, 112);
        gap: 5px;
        border-top: none;
    }

    .pageNumber:hover {
        color: white;
        background-color: rgba(95, 173, 255)
    }
}